.wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.animateHide {
  animation: hide .8s ease-in-out forwards;
  animation-delay: 2.2s;
}

@keyframes hide {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  70%{
    opacity: 0;
  }
  100% {
    transform: translateY(-200px);
    opacity: 0;
  }
}
