@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth;
  font-family: 'Poppins', system-ui, sans-serif;
  /* background-image: radial-gradient(ellipse 100% 100% at 0 100%,rgb(119 232 208 / 8%),rgb(255 0 126 / 0%)); */
  /* background-repeat: no-repeat; */
}

body{
  /* background-color: #F5F4F6; */
  background-color: #F8FAFC;
}

#root{
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
  /* background-color: cadetblue; */
}


.navbar{
  /* background-color: cadetblue; */
  height: 7%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: relative;
}

.n-memoji{
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 5px 20px 0px #9b9b9b67;
  overflow: hidden;
  position: fixed;
  top: 10px;
  left: 7%;
}

.n-memoji img{
  height: 35px;
  border-radius: 50%;
}

.n-links{
  height: 50px;
  width: fit-content;
  padding: 3px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.n-links span{
  padding: 5px 20px;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: .875rem;
  cursor: pointer;
  border: 1px solid transparent;
  text-transform: capitalize;

  background-color: transparent;
  background-image: linear-gradient(-45deg, #0F172A, #0f172a7e);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}


.n-links span.active{
  background-color: #ffffffb9;
  box-shadow: 0px 5px 20px 0px #bdbdbd67;
}

.ui{
  height: 200vh;
}

.n-socials{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  gap: 20px;
  position: fixed;
  top: 10px;
  right: 7%;
}

.n-socials a{
  text-decoration: none;
  font-size: 24px;
  border: none;
  outline: none;
  color: #475569;
}