@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: 'DM Sans', sans-serif;
}

html {
  /* scroll-behavior: smooth; */
  color-scheme: light dark;
}

body {
  position: relative;
}

.no-scroll {
  overflow: hidden;
  /* padding-right: 20px; */
}

.animateZoom {
  transition: transform 1s ease;
  animation: zoomOnScroll linear;
  animation-timeline: scroll();
  animation-range-start: 0;
  /* animation-range-end: 800px; */
}

@keyframes zoomOnScroll {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-800px);
    scale: 1.2;
    opacity: 0;
    filter: blur(20px);
  }
}

.gridRespo {
  /* max-width: 1300px; */
  width: 100%;
  margin: auto;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

@media only screen and (max-width: 800px) {
  .gridRespo {
    /* max-width: 1000px; */
    width: 100%;
    margin: auto;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
  }
}

@media only screen and (max-width: 410px) {
  .gridRespo {
    /* max-width: 1000px; */
    width: 100%;
    margin: auto;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
  }
}

.container {
  --uib-size: 40px;
  --uib-color: black;
  --uib-speed: 2s;
  --uib-bg-opacity: 0;
  height: var(--uib-size);
  width: var(--uib-size);
  transform-origin: center;
  animation: rotate var(--uib-speed) linear infinite;
  will-change: transform;
  overflow: visible;
}

.car {
  fill: none;
  stroke: var(--uib-color);
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: stretch calc(var(--uib-speed) * 0.75) ease-in-out infinite;
  will-change: stroke-dasharray, stroke-dashoffset;
  transition: stroke 0.5s ease;
}

.track {
  fill: none;
  stroke: var(--uib-color);
  opacity: var(--uib-bg-opacity);
  transition: stroke 0.5s ease;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes stretch {
  0% {
    stroke-dasharray: 0, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 75, 150;
    stroke-dashoffset: -25;
  }
  100% {
    stroke-dashoffset: -100;
  }
}
