@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}


html {
  scroll-behavior: smooth;
  font-family: 'Inter', system-ui, sans-serif;
}

body {
  position: relative;
}

.hero{
  transition: transform 1s ease;
  animation: fade linear;
  animation-timeline: scroll();
  animation-range-start: 0;
  animation-range-end:340px;
}

@keyframes fade {
  from{
    opacity: 1;
    scale: 1;
    transform: translateY(0);
  }
  to{
    opacity: .2;
    scale: 1.4;
    transform: translateY(100px);
  }
}

.animateZoom{
  transition: transform 1s ease;
  animation: zoomOnScroll linear;
  animation-timeline: scroll();
  animation-range-start: 0;
  animation-range-end: 100vh;
}

@keyframes zoomOnScroll {
  from{
    scale: 1;
  }
  to{
    scale: 1.3;
  }
}